<% include ./partials/header %>

<div class="container-fluid" style="padding:0">
  <div class="jumbotron" style="border-radius:0; padding-left: 20%; padding-right: 20%">
    <h1 class="display-4">MTM Football Factory</h1>
    <p class="lead">To Maximize Your Skills At A Higher Level To Increase Your Football Measurable</p>
    <hr class="my-4">
    <a class="btn btn-primary" href="/students" role="button">Students List</a>
  </div>
</div>

<% include ./partials/footer %>