<% include ../partials/header %>

<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table id="studentTable" class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>School</th>
            <th>Grade</th>
            <th>Position</th>
            <th>More</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<script src="/javascript/students/index.js"></script>

<% include ../partials/footer %>